body {background-color: yellow;}
#h1id{color: white; background-color: black;}
#paracls{color:black; font-family: 'Times New Roman', Times, serif; font-size: 150%;}
#paracls{border: 2px solid blueviolet;}
.container{color: maroon; background-color: aqua ; width: 300px; height: 50px; border: 1px solid black; display: table-cell;}
.container{ margin: 5px; text-align: center;}
a:link {color: rgb(73, 180, 73); text-decoration: none;}
a:visited {color: blue; text-decoration: none;}
a:hover {color:black; text-decoration: underline;}
a{font-size: 100%;}
button{background-color: brown;}
#MYID1{color: blueviolet;}
#MYCLASS1{color: aqua;}
